
  	<div class="review_item">
									<div class="media ">
										<div class="d-flex">
											<%if User.find(comment.author).avatar.attached?%>
                        <%= image_tag User.find(comment.author).avatar, class:"img-responsive img-rounded", style:"max-height: 50px; max-width: 50px;" ,alt: 'avatar' %>
                     <%else%>
                        <%=image_tag("avatar.jpg", alt: 'avatar',  class:"img-responsive img-rounded", style:"max-height: 50px; max-width: 50px;") %>
                    <%end%>
										</div>
										<div class="media-body">
                    <% if User.find(comment.author).first_name && User.find(comment.author).last_name%>
											<h4><%= User.find(comment.author).first_name %> <%= User.find(comment.author).last_name %></h4>
                      <%else%>
                      <h4>Anonymous</h4>
                      <%end%>
											<h5>Submitted <%= time_ago_in_words(comment.created_at) %> ago</h5>
										</div>
									</div>
                  	<p style='width:20vw'><%= comment.body %></p>
                  <small><div style="padding-left:2em">
                    <%= render comment.comments %></small>
                </div>
							</div>


  <% if current_user && current_user.admin == true %>
  <%= form_for [comment, Comment.new] do |f| %>
                        <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
                          <%= f.submit "Reply"  %>
                      <% end %>
											<a class="reply_btn" href="#">Reply</a>
 <% end %>