<!-- Required Resources -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rating/1.5.0/bootstrap-rating.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>




<div class="container py-4 my-2">
    <div class="row">
        <div class="col-md-4 pr-md-5">
          <%if @user.avatar.attached?%>
            <%= image_tag @user.avatar, class:"w-50 rounded border" ,alt: 'avatar' %>
          <%else%>
            <img class="w-50 rounded border" src="https://cdn.bootstrapsnippet.net/assets/image/dummy-avatar.jpg" />
          <%end%>
            <div class="pt-4 mt-2">             
            </div>
        </div>
        <div class="col-md-8">
            <div class="d-flex align-items-center">
                <h2 class="font-weight-bold m-0">
                    <%= @user.first_name.capitalize %> <%= @user.last_name.upcase %>
                </h2>
                <address class="m-0 pt-2 pl-0 pl-md-4 font-weight-light text-secondary">
                    <i class="fa fa-map-marker"></i>
                    <%= @user.city.capitalize %>, France
                </address>
            </div>
            <section class="mt-5">
                      
                    </div>
                </div>
            </section>

            <section class="mt-4">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            Orders    
                        </a>
                    </li>
                </ul>
                <div class="tab-content py-4" id="myTabContent">
                    <div class="tab-pane py-3 fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h6 class="text-uppercase font-weight-light text-secondary">
                            Contact Information
                        </h6>
                         <dl class="row mt-4 mb-4 pb-3">
                            <dt class="col-sm-3">Home address</dt>
                            <dd class="col-sm-9">
                                <address class="mb-0">
                                    <%= @user.address.capitalize %>, <%= @user.zip_code %> <%= @user.city.capitalize %><br/>
                                </address>
                            </dd>
                            
                            <dt class="col-sm-3">Email address</dt>
                            <dd class="col-sm-9">
                                <a href="mailto:<%= @user.email.downcase %>"><%= @user.email.downcase %></a>
                            </dd>
                        </dl>
                        
                        <h6 class="text-uppercase font-weight-light text-secondary">
                            Basic Information
                        </h6>
                        <dl class="row mt-4 mb-4 pb-3">
                            <dt class="col-sm-3">Birthday</dt>
                            <dd class="col-sm-9"><%= @user.date_of_birth.strftime("%A #{@user.date_of_birth.day.ordinalize} %B %Y") %></dd>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><%= @user.orders %></div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
            </section>
        </div>
    </div>
</div>