
    <div class="card text-center card-product">
      <div class="card-product__img">
          <%if item.picture.attached?%>
              <%= image_tag item.picture, alt: 'picture', :class =>"card-img" %>
          <% else %>
              <%=image_tag("product/product1.png", class: "card-img", alt: 'product1') %>
          <% end %>
        <ul class="card-product__imgOverlay">
          <li> <%= button_to item_path(item), method: :get do %><i class="fas fa-search"></i><% end %></li>          
          <li> <%= button_to orders_path(item), method: :post do %><i class="fas fa-cart-plus"></i></i><% end %></li>
        </ul>
      </div>
      <div class="card-body">
        <p>
        <% item.categories.each do |category| %>
           <%= category.name %> 
        <% end %>
        </p>
        <h4 class="card-product__title"><p><%= item.title %></p></h4>
        <p class="card-product__price"><%= item.price %>€</p>
      </div>
    </div>


