<tr>
    <td>
<<<<<<< HEAD
            <%= image_tag item.picture, alt: 'picture' %>
    </td>
    <td>
        <p><%= item.title%>
          <% item.categories.each do |category| %>
            <%=  category.name %>
          <% end %>
=======
        <%= image_tag item.picture, alt: 'picture' %>
    </td>
    <td>
        <p>
            <%= item.title%>
                <% item.categories.each do |category| %>
                    <%=  category.name %>
            <% end %>
>>>>>>> 8c782539c2b238a7c269d49a6206eff3a1896456
        </p>
    </td>
    <td>
        <h5><%= item.price %></h5>
    </td>
    <td>
            <% @item_order.each do |i| %>
            <% if i.item_id === item.id %>  
                <h5><%= i.quantity %></h5>
                <%end%>
            <% end %> 
    </td>
    <td>
        <%= link_to order_path(item), method: :delete do %>
        <span class='itemCardIcon'>
            <i class="fas fa-times"></i>
        </span>
        <% end %>
    </td>
</tr>