
    <!--================ Hero banner start =================-->
  <section class="hero-banner">
    <div class="container">
      <div class="row no-gutters align-items-center pt-60px">
        <div class="col-5 d-none d-sm-block">
          <div class="hero-banner__img">
          <%=image_tag("home/hero-banner.png", class: "img-fluid", alt: 'hero_banner') %>
          </div>
        </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>The evolution continues.</h4>
              <h1>Wanna be fashionable ?</h1>
              <h5>Let's explore together Fashion which reveals your unique style.</h5><br><br>
              <%= link_to 'All our Products', items_path, class: "button button-hero" %>
            </div>
          </div>
        </div>
    </div>
  </section>

    <!--================ Hero banner start =================-->

    <!--================ Hero Carousel start =================-->
    
       <br><br> <br><br>
      <div class="container">
        <div class="section-intro pb-60px">
          <p>Wide range of selections</p>
          <h2>Our Amazing <span class="section-intro__style">Categories</span></h2>
        </div>
         </div>
    <section class="section-margin mt-0">
      <div class="owl-carousel owl-theme hero-carousel">
      <% @categories.each do |category| %>
      <%= render 'shared/category_card', category: category %>
       <% end %>
      </div>
    </section>
    <!--================ Hero Carousel end =================-->

    <!-- ================ trending product section start ================= -->  
    <section class="section-margin calc-60px">
      <div class="container">
        <div class="section-intro pb-60px">
          <p>Popular Item in the market</p>
          <h2>Best <span class="section-intro__style">Sellers</span></h2>
        </div>
        <div class="owl-carousel owl-theme" id="bestSellerCarousel">
          <% @items.each do |item| %>
              <%= render 'shared/card', item: item %>
           <% end %>
        </div>
      </div>
    </section>
    <!-- ================ trending product section end ================= -->  


    <!-- ================ offer section start ================= --> 
    <section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <div class="offer__content text-center">
              <h3>Up To 50% Off</h3>
              <h4>BEST OFFERS</h4>
              <p>Him she'd let them sixth saw light</p>
              <a class="button button--active mt-3 mt-xl-4" href="#">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ offer section end ================= --> 


    <!-- ================ Blog section start ================= -->  
    <section class="blog">
      <div class="container">
        <div class="section-intro pb-60px">
          <h2>Latest <span class="section-intro__style">Comments</span></h2>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-blog">
              <div class="card-blog__img">
              <%=image_tag("blog/blog1.png", class: "card-img rounded-0", alt: 'blog') %>
              </div>
              <div class="card-body">
                <ul class="card-blog__info">
                  <li>By Admin</li>
                  <li><i class="ti-comments-smiley"></i> 2 Comments</li>
                </ul>
                <h4 class="card-blog__title"><span href="single-blog.html">The Richland Center Shooping News and weekly shooper</span></h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-blog">
              <div class="card-blog__img">
                <%=image_tag("blog/blog2.png", class: "card-img rounded-0", alt: 'blog2') %>
              </div>
              <div class="card-body">
                <ul class="card-blog__info">
                  <li>By Admin</li>
                  <li><i class="ti-comments-smiley"></i> 2 Comments</li>
                </ul>
                <h4 class="card-blog__title"><span href="single-blog.html">The Shopping News also offers top-quality printing services</span></h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-blog">
              <div class="card-blog__img">
                <%=image_tag("blog/blog3.png", class: "card-img rounded-0", alt: 'blog3') %>
              </div>
              <div class="card-body">
                <ul class="card-blog__info">
                  <li>By Admin</li>
                  <li><i class="ti-comments-smiley"></i> 2 Comments</li>
                </ul>
                <h4 class="card-blog__title"><span href="single-blog.html">Professional design staff and efficient equipment you’ll find we offer</span></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ Blog section end ================= -->  

    <!-- ================ Subscribe section start ================= --> 
     <section class="subscribe-position">
      <div class="container">
        <div class="subscribe text-center">
          <h3 class="subscribe__title">Get Update From Anywhere</h3>          
              <%= form_tag subscribers_path(@subscriber), method: "post", class: 'subscribe-form form-inline mt-5 pt-1' do %>
               <div class="form-group ml-sm-auto">
                  <%= text_field_tag :email, nil, placeholder: "Enter your email" %>
                </div>
                <%= submit_tag "Subscribe now", class:"button button-subscribe mr-auto mb-1" %>

              <% end %>
        </div>
      </div>
    </section>
         
    <!-- ================ Subscribe section end ================= --> 

  </main>

	<!--================ End footer Area  =================-->
</body>
</html>
