
<div class="product_image_area" style="margin-bottom: 100px">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="owl-carousel owl-theme s_Product_carousel">
                    <div class="single-prd-item">
                        <%if @item.picture.attached?%>
                            <%= image_tag @item.picture, alt: 'picture', :class =>"img-fluid" %>
                        <% else %>
                            <%=image_tag("product/product1.png", class: "card-img", alt: 'product1') %>
                        <% end %>

                    </div>
                    <!-- <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div> -->
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3><%= @item.title %></h3>
                    <h2><%= @item.price%>€</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : 
                        <% @item.categories.each do |category| %>
                        <%= category.name %> 
                        <% end %>
                        </a></li>
                        <% if @item.stock > 0 %>
                        <li><a href="#"><span>Availibility</span> :  <strong> Only <%= @item.stock %> remaining! </strong> </a></li>
                        <% else %>
                        <li><a href="#"><span>Availibility</span> : Out of Stock</a></li>
                        <% end %>
                    </ul>
                    <p><%= @item.description %></p>
                     <% if @item.stock > 0 %>
                    <% if current_user %>
                    <%= button_to "Add to card", orders_path(@item), method: :post, class: "button primary-btn" %>
                   <% else %>
                   <%= button_to "Add to card", new_user_session_path, class: "button primary-btn" %>
                     <% end %>
                     <% else %>
                      <h2>OUT OF STOCK</h2>
                     <% end %>
                </div>
            </div>
        </div>
    </div>
</div>



<h3>Comments</h3>

<%= form_for [@item, Comment.new] do |f| %>
<%= f.text_area :body, placeholder: "Add a comment" %><br/>
<%= f.submit "Add Comment" %>
<% end %>


  <%= render(partial: 'comments/comment', collection: @item.comments) %>





