<p id="notice"><%= notice %></p>

<div class="product_image_area" style="margin-bottom: 100px">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <% if @item.picture.attached?%>
                    <%= image_tag @item.picture, alt: 'picture' %>
                <%else%>
                    <%= form_tag item_pictures_path(@item), multipart: true do %>
                        <%= file_field_tag :picture %>
                        <%= submit_tag "mettre à jour"%>
                    <% end %>
                <% end %>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3><%= @item.title %></h3>
                    <h2><%= @item.price%>€</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : <%= @item.category %></a></li>
                        <li><a href="#"><span>Availibility</span> : In Stock</a></li>
                    </ul>
                    <p><%= @item.description %></p>
                    
                    <%= button_to "Add to card", orders_path(@item), method: :post, class: "button primary-btn" %>
                   
                </div>
            </div>
        </div>
    </div>
</div>
