<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Product Checkout</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!--================Checkout Area =================-->
<section class="checkout_area section-margin--small">
  <div class="container">

    <div class="billing_details">
      <div class="row">
        <div class="col-lg-8">
          <h3>Billing Details</h3>
          <div class="col-md-6 col-xl-10 mb-4 mb-xl-0">
            <div class="confirmation-card">
              <h3 class="billing-title">Billing/Shipping Address</h3>
              <table class="order-rable">
                <tr>
                  <td>Street</td>
                  <td>: <%= @user.address%></td>
                </tr>
                <tr>
                  <td>City</td>
                  <td>: <%= @user.city%></td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td>: FRANCE</td>
                </tr>
                <tr>
                  <td>Postcode</td>
                  <td>: <%= @user.zip_code%></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="order_box">
            <h2>Your Order</h2>
            <ul class="list">
              <li><a href="#">
                  <h4>Product <span>Total</span></h4>
                </a></li>

              <% @order.items.each do |item| %>
              <li><a href="#"><%= render 'shared/itemsCheckout', item: item %></a></li>
              <% end %>

            </ul>
            <ul class="list list_2">
              <h4>(shipping free) </h4>
              <li><a href="#">Total <span><%= @order.total%> €</span></a></li>
            </ul>


            <div class="text-center">
              <%= form_tag order_charges_path do %>
              <article>
                <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
                <% end %>
                <label class="amount">
                  <span><%= @order.total%>€</span>
                </label>
              </article>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="A month's subscription"
                data-currency="EUR" data-amount=<%= @order.total * 100 %> data - locale="auto" ></script>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->