	<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
        
         <%= link_to root_path, data: { turbolinks: false } do %>
          <%= image_tag("b-logo.png", class: "navbar-brand logo_h", alt: 'logo', :style => "width: 5rem;" ) %>
           <% end %>
           
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active"> <%= link_to 'Home', root_path, data: { turbolinks: false }, class: 'nav-link' %></li>
              <li class="nav-item active"> <%= link_to 'Contact', contact_index_path, data: { turbolinks: false }, class: 'nav-link' %></li>
              <li class="nav-item submenu dropdown">
              <%= link_to 'Categories', class: "nav-link dropdown-toggle", title: '', data: { toggle: 'dropdown'}, role:'button', aria: {hashpopup: 'true', expanded: 'false'} %>
                <ul class="dropdown-menu">
                 <li class="nav-item"><a class="nav-link" href="<%= items_path %>"> All </a></li>
                 <% @categories.each do |category| %>
                    <li class="nav-item"><a class="nav-link" href="<%= category_path(category) %>"><%= category.name %></a></li>
                  <% end %>
                </ul>
							</li>
              
               <% if current_user == nil %>
							<li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Login/Registration</a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: "nav-link"  %></li>
                    <li class="nav-item"><%= link_to 'registration', new_user_registration_path, class: "nav-link" %></li>
                </ul>
              </li>
              <% else %>
              	<li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false"> Account </a>
               <ul class="dropdown-menu">
              <li class="nav-item"><%= link_to("My Profile", user_path(current_user), class: "nav-link" )%></li>
              <li class="nav-item"><%= link_to('Edit Profile', edit_user_registration_path, class: "nav-link") %></li>
              <li class="nav-item"><%= link_to('Last Orders', orders_path, class: "nav-link") %></li>
                <% if current_user.admin == true %>
                  <li class="nav-item"><%= link_to('Admin', rails_admin_path, class: "nav-link") %></li>
                <% end %>
              <li class="nav-item"><%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %></li>
              </ul>
              <% end %>
            </ul>
              <% if user_signed_in? %>
 
            <ul class="nav-shop">
              <li class="nav-item"><%= link_to '<i class="fas fa-shopping-cart"></i>'.html_safe, new_order_path, controller: "orders", data: { turbolinks: false } %></li>
               <% if current_user.admin == true %>
               <li class="nav-item"><%= link_to('Admin', rails_admin_path, class: "button button-header") %></li>
               <% else %>
               <li class="nav-item"><%= link_to "Buy now", new_order_path, class: "button button-header", data: { turbolinks: false } %></li>
               <% end %>
            </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
  </header>


  